# SPDX-FileCopyrightText: Copyright (C) 2026 National University of Singapore
# SPDX-License-Identifier: BSD-3-Clause-Open-MPI

#
# NUS O-RAN testbed LLS-C1 setup PTP configuration.
# This is based on the G.8275.1 example configuration provided by ptp4l.
#
# Usage:
#   sudo ./ptp4l -i $NET_INTERFACE -m -f /path/to/nus-ptp-gm.cfg
#   sudo ./phc2sys -s $NET_INTERFACE -w -m -f /path/to/nus-ptp-gm.cfg
#

[global]
serverOnly			            1
ptp_minor_version             	0

clockClass                      6
clock_type                      OC
clockAccuracy                   0x20
domainNumber			        24
dataset_comparison		        G.8275.x
G.8275.defaultDS.localPriority	128
G.8275.portDS.localPriority	    128
maxStepsRemoved			        255

logAnnounceInterval		        -3
logSyncInterval			        -4
logMinDelayReqInterval		    -4

ignore_transport_specific       1

network_transport		        L2
ptp_dst_mac			            01:1B:19:00:00:00
p2p_dst_mac                     01:80:C2:00:00:0E

tx_timestamp_timeout	        100
